
<div class="container">
    <div class="form-control">
            <h3>View Customer Details</h3>
            <div>
                <div>
                    <label><b>Name : </b></label>{{" "+customer.customerName}}
                </div>
                <div>
                    <label><b>Account Number : </b></label>{{" "+customer.accountNumber}}
                </div>
                <div>
                    <label><b>A/C Description : </b></label>{{" "+customer.accountDescription}}
                </div>
                <div>
                    <label><b> ID : </b></label>{{" "+customer.customerId}}
                </div>
                <div>
                    <label><b>Phone : </b></label>{{" "+customer.customerPhone}}
                </div>
                <div>
                    <label><b>Email : </b></label>{{" "+customer.customerEmail}}
                </div>
                <div>
                    <label><b>Address : </b></label>{{" "+customer.customerAddress}}
                </div>
            </div>
    </div>
</div>