<h2>Customer List</h2>
<div class="nav navbar-dark" style="justify-content: space-between; padding: 2px;" >
        <div style = "margin-top: 5px;">
            <form #searchForm = "ngForm" (ngSubmit)="filter()" class = 'd-flex' role = 'search'>
                <div style="display: flex;">
                <input style = "width: 150px;" type = "text" [(ngModel)] = "name" name = "name" class = "form-control me-2" type="search" placeholder="Search Product" aria-label="Search">
                <button class = "btn btn-primary" type = "submit" style=" margin-left: 20px;">Search</button>
                </div>
            </form>
        </div>    
<div class = "nav" style="justify-content : end ; background-color: transparent; "> 
        <div >
            <button ngbDropdown class="nav-item dropdown "  style=" border: none">
                <a ngbDropdownToggle 
            
                class="nav-link dropdown-toggle btn btn-info"
                id="dropdown1"
                data-toggle="dropdown"
                aria-haspopup="tree"> Sort By </a>
                
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" >
                    <a ngbDropdownItem  class="dropdown-item" value="accountNumber" (click)="getmeField('accountNumber')">Account Number</a>
                    <a ngbDropdownItem  class="dropdown-item" value="customerName" (click)="getmeField('customerName')">Name</a>
                    <a ngbDropdownItem  class="dropdown-item" value="customerId" (click)="getmeField('customerId')">Customer ID</a>
                    <a ngbDropdownItem  class="dropdown-item" value="customerPhone" (click)="getmeField('customerPhone')">Phone</a>
                    <a ngbDropdownItem  class="dropdown-item" value="customerAddress" (click)="getmeField('customerAddress')">Address</a>
                </div>
            </button>
        </div>
        <div>
            <button ngbDropdown class="nav-item dropdown " style=" border: none">
                <a ngbDropdownToggle 
            
                class="nav-link dropdown-toggle btn btn-info   "
                id="dropdown1"
                data-toggle="dropdown"
                aria-haspopup="tree"> Order</a>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1">

                    <a ngbDropdownItem class="dropdown-item" (click)="selectOrder(false)">Ascending</a>
                    <a ngbDropdownItem class="dropdown-item" (click)="selectOrder(true)">Descending</a>

                </div>

            </button>
        </div>
        <div>
            <button ngbDropdown class="nav-item dropdown " style=" border: none">
                <a ngbDropdownToggle 
            
                class="nav-link dropdown-toggle btn btn-info   "
                id="dropdown1"
                data-toggle="dropdown"
                aria-haspopup="tree">Page Size</a>

                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1">

                    <a ngbDropdownItem class="dropdown-item" (click)="selectSize(2)">2</a>
                    <a ngbDropdownItem class="dropdown-item" (click)="selectSize(4)">4</a>
                    <a ngbDropdownItem class="dropdown-item" (click)="selectSize(6)">6</a>
                    <a ngbDropdownItem class="dropdown-item" (click)="selectSize(8)">8</a>

                </div>

            </button>
        </div>
        </div>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Account Number</th>
            <th>Account Description</th>
            <!-- <th>Account Balance</th> -->
            <th>Customer Id</th>
            <th>Phone</th>
            <th>Email Id</th>
            <th>Address</th>
            <!-- <th>User Name</th>
            <th>Password</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.customerName}}</td>
            <td>{{customer.accountNumber}}</td>
            <td>{{customer.accountDescription}}</td>
            <!-- <td>{{customer.accountBalance}}</td> -->
            <td>{{customer.customerId}}</td>
            <td>{{customer.customerPhone}}</td>
            <td>{{customer.customerEmail}}</td>
            <td>{{customer.customerAddress}}</td>
            <!-- <td>{{customer.customerUserName}}</td>
            <td>{{customer.customerPassword}}</td> -->
            <td style="display: flex; ">   
                <button style="margin-right: 10px;" class="btn btn-primary" (click)="customerDetails(customer.customerId)">View</button>
                <button style="margin-right: 10px;" class="btn btn-info" (click)="updateCustomer(customer.customerId)">Update</button>
                <button style="margin-right: 10px;" class="btn btn-danger" (click)="deleteCustomer(customer.customerId)">Delete</button>
            </td>
           

        </tr>
    </tbody>
</table>

<!-- <app-pagination></app-pagination> -->


<nav aria-label="Page navigation example" style="margin-left: 20%;">
    <ul class="pagination" id="my-list">
      <li class="page-item" style="cursor: pointer;" [ngClass]="0==(currentPage$ | async) ? 'disabled' : ''"><a class="page-link"(click)=" goToNextOrPreviousPage('backward')" >Previous</a></li>

      <li class="page-item" *ngFor="let pageNumber of [].constructor(pagination.totalPages); let i = index;">
        <a (click)="goToPage('',i)" class="page-link">{{i+1}}</a>
      </li>

      <li class="page-item"style="cursor: pointer;"  [ngClass]="(pagination.totalPages-1)==(currentPage$ | async) ? 'disabled' : ''"><a class="page-link"(click)=" goToNextOrPreviousPage('forward')" >Next</a></li>
    </ul>
  </nav>
