<!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo; Previous</span>
        </a>
    </li>
   
      <li *ngFor="let pageNumber of [].constructor(pageNumber); let i = index" class="page-item">
        <a class="page-link"  (click)="goToPage(i)">
            {{i+1}}
        </a>
    </li>
      

      <li class="page-item">
        <a class="page-link" aria-label="Next">
           <span aria-hidden="true"> Next &raquo;</span>
        </a>
    </li>
    </ul>
  </nav> -->